body {
    font-family: Arial, sans-serif;
    background-color: #000000; /* Maroon color */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    background-color: #3c5077; /* Maroon color */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 90%; /* Set a percentage for responsiveness */
    max-width: 600px; /* Set a max-width for larger screens */
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #fff; /* Text color in the container */
}

.login-form {
    display: flex;
    flex-wrap: wrap; /* Allow columns to wrap to the next line on smaller screens */
    justify-content: space-between;
}

.left-column,
.right-column {
    width: 48%;
    box-sizing: border-box; /* Include padding and border in the width calculation */
}

.left-column label,
.right-column label,
.left-column input,
.right-column input {
    display: block;
    margin-bottom: 10px;
}

.login-button {
    margin-top: 20px;
}

.login-form button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .left-column,
    .right-column {
        width: 100%; /* Set to full width on smaller screens */
    }
}